[submodule "trellis-api"]
	path = trellis-api
	url = https://github.com/trellis-ldp/trellis-api
[submodule "trellis-vocabulary"]
	path = trellis-vocabulary
	url = https://github.com/trellis-ldp/trellis-vocabulary
[submodule "trellis-http"]
	path = trellis-http
	url = https://github.com/trellis-ldp/trellis-http
