[submodule "trellis-api"]
	path = trellis-api
	url = https://github.com/trellis-ldp/trellis-api
[submodule "trellis-vocabulary"]
	path = trellis-vocabulary
	url = https://github.com/trellis-ldp/trellis-vocabulary
[submodule "trellis-http"]
	path = trellis-http
	url = https://github.com/trellis-ldp/trellis-http
[submodule "trellis-event-serialization"]
	path = trellis-event-serialization
	url = https://github.com/trellis-ldp/trellis-event-serialization
[submodule "trellis-audit"]
	path = trellis-audit
	url = https://github.com/trellis-ldp/trellis-audit
[submodule "trellis-agent"]
	path = trellis-agent
	url = https://github.com/trellis-ldp/trellis-agent
[submodule "trellis-amqp"]
	path = trellis-amqp
	url = https://github.com/trellis-ldp/trellis-amqp
[submodule "trellis-app"]
	path = trellis-app
	url = https://github.com/trellis-ldp/trellis-app
[submodule "trellis-binary"]
	path = trellis-binary
	url = https://github.com/trellis-ldp/trellis-binary
[submodule "trellis-constraint-rules"]
	path = trellis-constraint-rules
	url = https://github.com/trellis-ldp/trellis-constraint-rules
[submodule "trellis-id"]
	path = trellis-id
	url = https://github.com/trellis-ldp/trellis-id
[submodule "trellis-io-jena"]
	path = trellis-io-jena
	url = https://github.com/trellis-ldp/trellis-io-jena
[submodule "trellis-jms"]
	path = trellis-jms
	url = https://github.com/trellis-ldp/trellis-jms
[submodule "trellis-kafka"]
	path = trellis-kafka
	url = https://github.com/trellis-ldp/trellis-kafka
[submodule "trellis-namespaces"]
	path = trellis-namespaces
	url = https://github.com/trellis-ldp/trellis-namespaces
[submodule "trellis-ontology"]
	path = trellis-ontology
	url = https://github.com/trellis-ldp/trellis-ontology
[submodule "trellis-rosid-common"]
	path = trellis-rosid-common
	url = https://github.com/trellis-ldp/trellis-rosid-common
[submodule "trellis-rosid-file"]
	path = trellis-rosid-file
	url = https://github.com/trellis-ldp/trellis-rosid-file
[submodule "trellis-rosid-file-streaming"]
	path = trellis-rosid-file-streaming
	url = https://github.com/trellis-ldp/trellis-rosid-file-streaming
[submodule "trellis-webac"]
	path = trellis-webac
	url = https://github.com/trellis-ldp/trellis-webac
[submodule "trellis-bundles"]
	path = trellis-bundles
	url = https://github.com/trellis-ldp/trellis-bundles
